<section class="img-background">
  <div class="text-container">
    <h1 class="brand-name">Ferretería FC</h1>
    <p>Plomería | Electricidad | Albañilería</p>
  </div>
</section>

<section class="main-content">
  <article class="text-container">
    <p>En <span class="brand-name">Ferretería FC</span> nos dedicamos a la venta de artículos de plomería, electricidad,
      albañilería y herramientas en
      general.
    </p>
    <p>
      Contamos con una amplia variedad de productos de excelente calidad y a precios accesibles, así como la
      mejor atención del barrio, siempre dispuestos a encontrar <span id="quote">'El coso del cosito'</span> que busca
      el cliente.
    </p>
  </article>
  <article class="map-container">
    <h2>Ubicación</h2>

    <fc-map />
  </article>
</section>
