<section class="img-background">
  <div class="text-container">
    <h1 class="brand-name">Ferretería FC</h1>
    <p>Venta de artículos varios.</p>
  </div>
</section>

<section class="main-content">
  <article class="text-container">
    <p>En <span class="brand-name">Ferretería FC</span> nos dedicamos a la venta de artículos de plomería, electricidad,
      albañilería y herramientas en
      general.
    </p>
    <p>
      Contamos con una amplia variedad de productos de excelente calidad y a precios accesibles, así como la
      mejor atención del barrio, siempre dispuestos a encontrar <span id="quote">'El coso del cosito'</span> que busca
      el cliente.
    </p>
  </article>
  <article class="map-container">
    <h2>Ubicación</h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d205.18890738649756!2d-58.361782499879375!3d-34.628871235424974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a335259a2c5411%3A0x13854fcb45116ddb!2sFerreter%C3%ADa%20FC!5e0!3m2!1ses!2sar!4v1732648750423!5m2!1ses!2sar"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </article>
</section>
