<section>
  <article>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem fugit, nobis earum porro a qui excepturi
      inventore laboriosam illo tempora. Voluptatem in suscipit atque porro illo minus natus excepturi fuga?
      Excepturi autem eveniet cupiditate pariatur, doloribus necessitatibus nostrum eligendi veritatis libero ad soluta
      inventore aut, ratione impedit, provident fugit iste rerum labore! Corporis voluptatum, soluta fugit error est
      asperiores vero.
    </p>

    <div class="img-container">
      <img class="logo" src="assets/ferreteria-logo.png" alt="logo de la empresa">
    </div>
  </article>

  <article>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, soluta harum et consequatur cumque
      fugiat quas delectus similique ipsam dolorum molestiae dolor nam iusto, ipsa expedita laborum fuga reprehenderit?
      Ipsum!
      Distinctio qui ab, amet cumque similique inventore! Pariatur nisi, dolorum voluptas dolores, quod repellendus
      dicta facere illo doloremque iure natus dolorem perspiciatis aliquid labore sequi id. Deserunt exercitationem
      adipisci quasi.
      Earum nisi optio, esse nam omnis modi voluptas officia cupiditate accusantium! Nisi aliquid molestiae, debitis nam
      ullam quos quam possimus numquam asperiores perspiciatis rem earum pariatur ipsum mollitia quo aliquam.
    </p>

    <div class="img-container">
      <img src="assets/img/local.jpg" alt="local de la empresa">
    </div>
  </article>

  <article>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex quo explicabo cupiditate possimus necessitatibus
      perspiciatis repellat commodi labore iure impedit. Consequatur, sunt? Dolore harum minima et explicabo corrupti
      cum tempora.
      Modi molestias a, reprehenderit consequuntur doloremque explicabo nulla corporis ducimus hic provident labore! Sed
      architecto fuga sequi vitae unde labore ipsa facilis magnam neque rem sunt, reprehenderit ut necessitatibus ex!
      Non sed aut unde ducimus sit similique architecto excepturi deserunt nisi fuga magnam enim tempora placeat, earum
      nihil dolorem ratione at et dolor quisquam voluptas necessitatibus consequuntur perspiciatis! Non, nulla?
    </p>

    <div class="img-container">
      <img src="assets/img/articulos.jpg" alt="artículos varios">
    </div>
  </article>
</section>
