section {
  padding: 2rem 0.5rem;

  @media screen and (min-width: 768px) {
    margin: 0 2rem;
  }

  @media screen and (min-width: 1024px) {
    margin: 0 4rem;
  }

  @media screen and (min-width: 1440px) {
    margin: 0 8rem;
  }

  article {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    p {
      margin: 1rem;
      line-height: 1.5;
      flex-grow: 2;
      flex-basis: 20rem;
      color: var(--darkest-color);
    }

    div.img-container {
      margin: 2rem 0;

      img {
        width: 100%;
        min-width: 15rem;
        max-width: 30rem;
        border-radius: 20px;

        &.logo {
          max-width: 12rem;
        }
      }
    }

    @media screen and (max-width: 768px) {
      &:nth-child(even),
      & {
        flex-direction: column-reverse;
      }

      div.img-container,
      p {
        flex-basis: 0;
      }

      div.img-container {
        margin: 0;
      }
    }
  }
}
