<div class="contact-info">
  <p>
    Esperamos que te encuentres bien.
  </p>
  <p>Si tenés alguna consulta, no dudes en contactarnos.</p>
  <p>Podés llamarnos al ☎️011 4123-4567 o escribirnos a 📱+54 9 11 1234-5678.</p>

  <p>
    Estamos ubicados en la calle <span class="address-info">20 de Septiembre 212, barrio La Boca, Ciudad Autónoma de
      Buenos
      Aires</span>.
  </p>
  <p>Acá podés encontrar la dirección de nuestra ferretería y un mapa para que puedas llegar sin problemas!</p>

</div>


<fc-map />
